<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019371604114-gut35qose36srsec0b0ct1n5o8tfknkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019371604114-gut35qose36srsec0b0ct1n5o8tfknkr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019371604114-blafkb5rvl440k18uo1i5b8990qkvq89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0UluwBKb-imf4fFRkwD99zgDgH5qObQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1019371604114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pocket.schedule</string>
	<key>PROJECT_ID</key>
	<string>pocket-schedule-1dab1</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-schedule-1dab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019371604114:ios:ad7b17151fbc06b6123e4b</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3443545166967285~5432114483</string>
</dict>
</plist>